@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Store Controller <a href=@Url.Action("Index", "Store")>store</a>.</p>
    <p>Item Controller <a href=@Url.Action("Index", "Item")>item</a>.</p>
    <p>Purchase Controller <a href=@Url.Action("Index", "Purchase")>purchase</a>.</p>
</div>
